* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vw;
    color: #2d2d2d;
    font-weight: bold;
    font-family: 'Orbitron', monospace;
    width: auto;
}

.week .active {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
}
.week .active:nth-child(7) {
    color: #ff4d4d;
    text-shadow: 0 0 5px rgba(255, 77, 77, 0.7); 
  }

.digital-clock {
    background-color: black;
    color: #fff;
    display: flex;
    border-radius: 2vw;
    user-select: none;
    padding: 0 2vw;
    border: 0.5vw solid #2d2d2d;
}

.time {
    font-family: "Orbitron", monospace;
    letter-spacing: 0.1vw;
}

.hour,
.min,
.sec,
.dot {
    display: inline-block;
    font-size: 13vw;
}

.ampm {
    display: inline-block;
    font-size: 4vw;
    margin-left: 1vw;
    align-self: flex-end;
    font-family: "Orbitron", monospace;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-family: "Orbitron", monospace;
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.date .separator {
    margin: 0 0.1rem;
}

@media (max-width: 768px) {
    .date {
        font-size: 1rem;
        gap: 0.1rem;
    }
}

.invisible {
    visibility: hidden;
}